@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    background: rgba(17,17,17,1);
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

.title {
    color: white;
    width: 100%;
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__login_button {
    margin: auto;
    padding: 8px 24px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 3px solid #E74011;
}

.call_to_action_button{
    padding: 16px 48px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 10000px;
    border: 3px solid #E74011;
    background: #E74011;
    color: var(--solid-white, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.header__tab {
   margin: auto;
}


.header__menu {
    display: flex;
    flex-direction: row;
    gap: 24px; 
}

.hero_header {
    background-image: url(./images/hero_header__logo.png), url(./images/hero_header_decor_1.png), url(./images/Rectangle\ 7.png), url(./images/Rectangle10.png);
    background-repeat: no-repeat;
    background-position-y: 34%, 67%, 82%, 75%;
    background-position-x: 101%, 47%, 67%, 91%;
    background-size: 798px, 585px, 311px, 316px;
}


.hero_header__wrapper {
    display: flex;
    flex-direction: row;
}


.hero_header__title {
    margin: 220px auto 240px 0; 
    color: white;
    width: 56%;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
}

.hero_header__tabs {
    display: flex;
    flex-direction: row;
}

.hero_header__rectangle {
    width: 21%;
}

.hero_header__tab {
    width: 17%;
    padding: 20.47px 35px 31px 32px;
    background: rgba(113, 110, 110, 0.20);
    backdrop-filter: blur(25px);
}

.hero_header__all_sports {
    position: relative;
    padding-top: 20px;
    color: #E74011;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.hero_header__all_sports_text {
    top: -20px;
    right: -18px;
    position: absolute;
}

.wrapper {
margin:0 auto;
}

.features__feature_table {
    display: grid;
    grid-gap: 63px 53px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 124px;
}


.features__feature {
    max-width: 396px;
}

.features__title {
    color: var(--solid-white, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
}

.kinds_of_sports__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 115px 162px;
}

.kinds_of_sports__k_image {
    width: 36px;
    height: 36px;
    background-color: #E74011;
    border-radius: 50px;
    border: 16px solid #E74011;
}


.kinds_of_sports__feature {
    display: flex;
    gap: 44px;
}

.kinds_of_sports__table {
    background-image: url(./images/kinds_of_sports_decor.png), url(./images/kinds_of_sports_decor.png);
    background-position: calc(70%), calc(30%);
    background-repeat: no-repeat;
}


.kinds_of_sports__call_to_action {
    background: #242424;
    background-image: url(./images/call_to_action_design.png), url(./images/call_to_action_design_2.png);
    background-repeat: no-repeat;
    padding-top: 52px;
    padding-bottom: 35px;
    padding-left: 64px;
    background-position: right, calc(100% - 272px);
    position: relative;
    margin-top: 55px;
}


.kinds_of_sports__call_to_action_text {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.kinds_of_sports__call_to_action_link {
    color: #E74011;
    }

.kinds_of_sports__call_to_action_ball {
    position: absolute;
    top: -58px;
    right: calc(20%);
}

.kinds_of_sports__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: 0px;
}

.kinds_of_sports__text {
    max-width:174px ;
}

.hero_header__slider {
    line-height: 28px;
    font-size: 24px;
    font-weight: bold;
}

.how_to_start__step_number {
    margin-top: 64px;
    margin-bottom: 16px;
    font-size: 170px;
    font-style: normal;
    font-weight: 600;
    line-height: 200px;
    background: linear-gradient(180deg, #E74011 16.6%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}

.how_to_start__steps {
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(3, 1fr);
}

.best_cases__title {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
}

.best_cases__tabs{
    display: flex;
    gap: 32px;
}

.best_cases__tab{
    color: var(--solid-white, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.best_cases__description {
    margin: 18px 0px 42px 0px;
}

.best_cases__case {
    width: 60%;
}


.best_cases__card {
    display: flex;
    flex-direction: row;
    gap: 134px
}

.best_cases__before {
    max-width: 310px;
}


.best_cases__before {
    max-width: 350px;
}


.order_form__accept_link{
    color: #E74011;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.order_form__text {
    padding-bottom: 42px;
    border-bottom-width: thick;
    border-bottom: solid;
    border-bottom-width: thin;
}


.order_form__form_to_fill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 104px 48px;
}

.order_form__button {
    width: 401px;
    border-radius: 50px;
    border: 3px solid #E74011;
    background: #E74011;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 16px;

}

.order_form__accept {
    margin-top: 85px;
    margin-bottom: 133px;
    margin-left: 77px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.order_form__rectangle {
    position: relative;
    top: 110px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #FFF;
    opacity: 0.4;
}

.footer{
    margin-top: 226px;
    display: flex;
    justify-content: space-between;
}